#left-div {
    float: left;
    text-align: center;
    width: 55%;
}

#left-int-div {
    width: 50%;
    top: 5%;
    height: 700px;
    position: absolute;
    margin: 30px auto;
    transform: translate(5%, 0%);
}

#right-div {
  float: right;
  width: 45%;
}

#header-div {
    display: block;
    width: 100%;
    height: 20px;
}

#info-div {
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    line-height: 7px;
}

#info2-div {
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    width: 450px;
    margin: auto;
    text-align: center;
    line-height: 7px;
}

#info3-p {
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    line-height: 7px;
    margin: 7 auto 0 auto;
}

#export-div {
    margin: 735 auto 10 auto;
    font-size: 90%;
}

#prereg-link {
    color: #0275d8;
    cursor: pointer;
}

#prereg-link:hover {
    text-decoration: underline;
}
    
#footer-div {
    margin: 0 auto 375 auto;
    font-size: 65%;
    color: #D0D0D0;
}

#footer-div a {
    color: inherit;
}

#info-div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#selector-div {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 0 auto;
    left: 50%;
    text-align: center;
    line-height: 1;
}

#selected-div {
  text-align: left;
}

#warning-div, #warning2-div {
    margin: 0 auto 5 auto;
    font-size: 70%;
}

#warning3-div {
    margin: 5 auto;
    font-size: 70%;
}

#buttons-div {
    margin: 20 auto;
    text-align: center;
}

#spacer-div {
    height: 0px;
}

#spacer2-div {
    height: 0px;
}

#spacer3-div {
    height: 4px;
}

#class-input-label {
    font-size: 110%;
}

#units-div {
    margin: 0 auto 10 auto;
}

#activity-button {
    margin: 10 auto 5 auto;
    font-size: 70%;
    color: #0275d8;
    cursor: pointer;
}

#activity-button:hover {
    text-decoration: underline;
}

.prereq-span {
    color: #0275d8;
    cursor: pointer;
}

.prereq-span:hover {
    text-decoration: underline;
}

#time-slider {
    width: 50%;
    margin: 10 auto;
}

.btn-primary, .btn-primary.focus {
    color: #ec5339;
    background-color: #fff;
    border-color: #ec5339;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary.active, .btn-primary.active.focus {
    color: #fff;
    background-color: #ec5339;
    border-color: #ec5339;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary.active:hover {
    color: #fff;
    background-color: #3794dc;
    border-color: #3794dc;
}

.btn-secondary, .btn-secondary.focus,
.btn-secondary.active, .btn-secondary.active.focus {
    background-image: none;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#eval-table-div {
    font-family: 'PT Serif', serif;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#eval-loading {
    font-family: 'Open Sans', sans-serif;
    margin: 50px;
    text-align: center;
    font-size: 120%;
}

.eval-subtable {
    table-layout: fixed;
    width: 100%;
}

#desc-div p {
    margin-bottom: 6px;
}

#class-name {
    font-weight: bold;
    line-height: 1;
}

#class-type {
    font-size: 80%;
}

#class-eval {
    font-size: 80%;
}

#class-desc {
    font-size: 80%;
    line-height: 1.25;
}

#class-buttons-div {
    margin: 7 auto 7 auto;
}

#manual-button {
    font-size: 80%;
    color: #0275d8;
    cursor: pointer;
}

#manual-button:hover {
    text-decoration: underline;
}

#manual-div {
    display: flex;
    margin: 5 auto 10 auto;
}

#manual-div > div {
    flex: 1;
}

.fc-time:not(.fc-axis) {
    font-size: 70%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #909090;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909090;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909090;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909090;
}
