.ag-theme-firehose {
  height: 320px;
  width: 100%;
  --ag-icon-font-family: agGridAlpine;
}

.ag-cell-wrapper {
  cursor: pointer;
  padding: 8px 5px;
}

.ag-row-even {
  background-color: var(--chakra-colors-gray-50);

  .chakra-ui-dark & {
    background-color: var(--chakra-colors-gray-700);
  }
}

.ag-row:hover {
  background-color: var(--chakra-colors-blue-50);

  .chakra-ui-dark & {
    background-color: var(--chakra-colors-blue-700);
  }

  .ag-cell:first-child {
    text-decoration: underline;
  }
}

.ag-cell:first-child {
  font-weight: 500;
}

.ag-header-cell-text {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: uppercase;
}

.ag-header-cell-label {
  padding: 8px 5px;
}
