.calendar-event {
  padding: 1px;
  line-height: 1;
}

.calendar-time {
  font-size: 0.7em;
  white-space: nowrap;
}

.calendar-title {
  font-size: 1.1em;
  margin: 0.2em 0;
}

.calendar-room {
  font-size: 0.8em;
}

.fc .fc-timegrid-slot-label-cushion {
  font-size: 0.8em;
}
